.adminButton {
    background-color: red;
}
.Login-box{
width: 200px;
height: 100px;
text-align: center;
background-color: blue;
}
#ontainer {
    width: 100%;
    background-color: grey;
}

#progressBesvart {
    width: 90%;
    height: 30px;
    background-color: green;

}
#progressJa {
    width: 90%;
    height: 30px;
    background-color: green;

}
#progressNei {
    width: 90%;
    height: 30px;
    background-color: green;

}
#progressKanskje {
    width: 90%;
    height: 30px;
    background-color: green;

}