:root {
--MainFarge: rgb(162, 222, 208);
/* var(--MainFarge); */
}

/*-----------------ViewFront------------------------*/
body {
    margin:0;
    padding:0;
} 
.page{
    background-color: rgb(162, 222, 208);
    height: 100vh;
    display:grid;
    grid-template-columns: 2fr 7fr 3fr  ;
    grid-template-rows: 1fr 0.5fr 7fr 0.5fr ;
    grid-template-areas: 'header header header'
                         'liteFelt liteFelt liteFelt'
                         'meny innhold innhold '
                         'footer footer footer ';
}
@media only screen and (max-width: 600px){
    .page{
        grid-template-columns:1fr 4fr ;
        grid-template-rows: 2fr 6fr 1fr ;
        grid-template-areas: 'meny meny'
                             'header innhold' 
                             'footer footer';
    }
}

div.header {
    background-color: rgb(162, 222, 208);
    grid-area: header;
}
div.meny {
    background-color:rgb(162, 222, 208);
    grid-area: meny;
}
div.innhold {
    background-color: rgb(162, 222, 208);
    grid-area: innhold;
}
div.liteFelt {
    background-color:rgb(162, 222, 208);
    grid-area: liteFelt;
}
div.footer {
    background-color:rgb(162, 222, 208);
    grid-area: footer;
}


/*-----------LOGIN-----------*/
    .loginPage{
        background-color: rgb(162, 222, 208);
        height: 100vh;
        display:grid;
        grid-template-columns:1fr 6fr 1fr  ;
        grid-template-rows: 1fr 0.6fr 8fr 1fr;
        grid-template-areas: 'headerL headerL headerL'
                             'smalLinje smalLinje smalLinje'
                             'innholdL menyL innhold1L' 
                             'innholdL menyL innhold1L'
                             'footerL footerL footerL';
    }
.headerL {
    background-color: rgb(162, 222, 208);
    grid-area: headerL;
}
.smalLinje{
    background-color:rgb(162, 222, 208);
    grid-area: smalLinje;
}
.menyL {
    background-color:rgb(162, 222, 208);
    grid-area: menyL;
}
.innholdL {
    background-color:rgb(162, 222, 208);
    grid-area: innholdL;
}
.innhold1L {
    background-color:rgb(162, 222, 208);
    grid-area: innhold1L;
}
.footerL {
    background-color:rgb(162, 222, 208);
    grid-area: footerL;
}